*{
    box-sizing: border-box;
}

body{
    transition: background-color 0.6s ease, color 0.3s ease;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #0D0714;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body.active{
    background-color: #F5F5F5;
}

body.active .title-app{
    color: #222222;
}

body.active input{
    background-color: #fff;
    color: #333333;
    border-color: #4CAF50;
}

body.active .agregar {
    background-color: #4CAF50;
    color: #FFFFFF;
    border-color: #4CAF50;
}

body.active .agregar:hover {
    background-color: #66BB6A;
    box-shadow: 0 0 5px rgba(79, 191, 64, 0.5); 
}

body.active .label-style {
    color: #333333;
}

body.active .title {
    color: #222222;
}

body.active .task {
    background-color: #FFFFFF;
}

body.active .fa-trash,
body.active .fa-check {
    color: #4CAF50;
}

body.active .task-list-done .label-style{
    color: #3498db;

}

.switch{
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 100px;
    background-color: #9E78CF;
    margin-right: 25px;
}

.switch .fa-sun, .fa-moon{
    font-size: 17px;
    padding-right: 5px;
    padding-left: 23px;
    margin-left: -20px;
}

.fa-sun, .fa-moon{
    color: #fff;
}

.dark-mode .switch:first-child::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #fff;
    border: solid thin #fff;
    right: -3px;
    left: unset;
}
/* Oscuro */
.dark-mode .switch:last-child.active::before{
    left: 0;
    right: unset;
    border: solid thin #9E78CF;
}
.dark-mode .switch:first-child.active i:last-child {
    color: #fff; ; 
}

.dark-mode .switch:first-child.active{
    background-color: #9E78CF;
}

.dark-mode .switch:last-child.active{
    background-color: #4CAF50;
}

.dark-mode .switch.active .fa-moon {
    color: black;
}

.title-app{
    font-size: 18px;
    color: #666;
    /* text-align: center; */
    font-weight: 600;
    margin-left: 25px;
}

.agregar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #9E78CF;
    color: #fff;
    font-size: 25px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.agregar:hover{
    background-color: #7d5ca5;
    box-shadow: 0 0 5px rgba(158, 120, 207, 0.5);
}

.container-todo{
    width: 100%;
    /* border: 4px solid red; */

}

.new-task{
    /* border: 2px solid #3E1671; */
    border-radius: 4px;
    width: 500px;
    margin-bottom: 15px;
    
}

input{
    background-color: transparent;
    border: 1px solid #3E1671;
    border-radius: 3px;
    outline: none;
    color: #777777;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    margin-left: 15px;
}

input[type="text"]:focus{
    border-color: #9E78CF;
    box-shadow: 0 0 5px rgba(158, 120, 207, 0.5);
    outline: none;
}

.task-list{
    width: 500px;
}

.container-text{
    margin-left: 10px;
    /* border: 3px solid red; */
    width: 350px;
}

.title{
    color: #FFFFFF;
    font-size: 13px;
}

.list-container{
    /* border: 3px solid green; */
    width: 450px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.task{
    /* border: 3px solid yellow; */
    width: 440px;
    border-radius: 5px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}

 
.label-style{
    color: #9E78CF;
    font-size: 14px;
    transition: color 0.3s ease;
    /* border: 3px solid blue; */
} 

.label-style:hover{
    color: #FFF;
}


/* .label-style-done{
    color: #78CFB0;
    padding-left: 12px;
    font-size: 14px;
    text-decoration: line-through;
} */

.fa-check,.fa-trash{
    color: #9E78CF;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.fa-check:hover,.fa-trash:hover{
    transform: scale(1.2);
}

.task-done {
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(200%);
    opacity: 0;
}

footer{
    color: #666;
    font-weight: 400;
    text-align: center;
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
}